  
  .container{
      padding-top: 100px;

  }
.bg{
    background-color: #F0FFF0;
}
 .logo{
     width: 200px;
     height: 60px;

 }
    .tchair{
        width: 554px;
        height: 346px;
    }
    .buy-now-button{
        background-color: #21B573;
        color: white;
        border-radius: 33px;
        border: none;
    }
    
    
    .card{
        width: 270px;
        height: 270px;
    }
    .book{
         position: relative;
        width: 115px;
        height: 85px;
        padding-left: 40px;
        
        
    }
    .book-text{
         padding-top: 10px;
    }
    .education{
        
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .panel{
        
    
        display: block;
    }
    .course{
        text-align: center;
        padding-top: 40px;
    }
    .course2{
        text-align: center;
        padding-top: 70px;
    }
    .system{
        padding-top: 20px;
    }
    .vector2{
        width: 24px;
        height: 24px;
    }
    .date{
        width: 75px;
        height: 12px;
    }
    .card{
        box-shadow: 5px 5px 10px lightgray;
    }
    .man{
        width: 200px;
        height: 200px;
        
    }
    .big-man{
        padding-bottom: 50px;
    }
    .bg1{
        color: white;
        background-color: #282531;
        width: 1440px;
        height: 400px;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    footer{
        color: white;
        text-align: center;
        padding-top: 80px;
    }
      
     